<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32"
              href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96"
              href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16"
              href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
</head>
<body>
<section>
    <div class="nav-bar">
        {% if 'username' not in session %}
            <button class="register"><a href="{{ url_for('register') }}">Register</a></button>
        {% else %}
            <div>Logged in as {{ session['username'] }}</div>
            <button class="logout"><a href="{{ url_for('logout') }}">Logout</a></button>
        {% endif %}
    </div>
</section>
<h1 id="register">Login</h1>

<form method="POST" class="add-forms" id="register">
    <p><label for="title">Username:</label><br>
        <input type="text" name="username" id="title">
    </p>

    <p><label for="message">Password:</label><br>
        <input type="password" name="password" id="title"></p>

    <p><input type="submit" value="Login"></p>
</form>
</body>
</html>